# Untracked files:
bootloader/build
bootloader/bin/bootloader.bin
kernel/build
samples/helloworld/build
samples/helloworld/hello
ESPRPiWifi/build
baremetal/RPi/build
Placid/libplacid.a
Placid/build
mac/DerivedData
mac/placid.xcodeproj/project.xcworkspace
mac/placid.xcodeproj/xcuserdata

kernel/kernel.d
kernel/kernel.elf
kernel/kernel.img
kernel/kernel.lst
kernel/kernel.map
kernel/kernel.o
kernel/main.d
kernel/main.o
